/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}


.container {
    margin: auto;
    max-width: 1000px;
    width: 100%;
    align-items: center;
}

header{
    padding-bottom: 10px;
}
h1{
    text-align: left;
    background-color: white;
    font-size: 18px;
    /*display: inline-block;*/
    float: left;
}

ul{
    list-style-type: none;
    padding-top: 10px;
    margin: 0;
   /* display: inline-block;*/
    float: right;
    }

li{
   float: right;
   font-weight: bold;
}

li a{
    padding: 16px;

}

a{ 
    color: #121314;
    text-decoration: none;
}

a:hover{
    color:#5a69d8;
}

  

.overview-hero {    
    margin-top:60px;
    background-color:#e2e8f0;
    height: 250px;  
   
}
 .overview-hero img{
      float: left;
      max-width: 20%;
      height:200px;
     margin-top:10px;
     margin-right: 30px;
     margin-left: 100px;
    }
.overview-hero-text{
         text-align: left;
         padding: 20px;
         
      }

.learn-about{
    margin-left: 0px;
   padding-bottom: 40px;
}

.learn-about h2{
    margin:70px;
    margin-bottom: 50px;
    color: #48bb78;
    font-size:24px;
    }

.learn-about h3{
    margin: 40px;;
    color: #48bb78;
    font-size: 21px;
    }

.cards{
        display:grid;
        grid-template-columns: 300px 300px 300px;
        grid-row-gap: 20px;
        text-align: right;
        padding: auto;
        grid-column: span 3;
        column-gap: 30px;
        margin-left:80px ;
      
       
      }

.card{
    padding: 30px;
    text-align: center;
    border-color: #e2e8f0;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px;
}


.card img{
    max-width: 50%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.testing{
    background-color: #4a5568;
    color: white;
    text-align: left;
    padding: 60px;
    padding-left:300px ;
    padding-right:350px ;
    
}
.testing a{
        background-color: #48bb78;
        border-radius: 5px;
        float: right;
        /*height: 30px;
        width: 100px;*/
        padding:10px ;
    }
p.testing{
    padding-right: 50px;
    float: left;
}

    
.testing.container{
    display: inline;
}

.article-body{
    padding-bottom: 100px;
    padding-top: 5px;
}
    

.stories{
    margin-left: 150px;
    margin-bottom: px;
    padding-top: 80px;
}


.stories h2{
        color: #5a67d8;
        
    }

.stories h3{
    color: #000000;
    font-size: 18px;
}

.stories  a{
    color: #5a67d8;
    text-decoration: none;
    font-weight: bold;
    
}


.stories  img{
    border-radius: 50%;
    max-width: 20%;
    height: 200px;
    float: left;
    padding-right: 30px;
}

.newsletter{
    background-color: #48bb78;
    color: white;
    padding:40px ;
    padding-bottom: 50px;
    text-align: center;

    }

p.newsletter{
  word-wrap: break-word;
}

#email{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 34px;
    padding-right:34px; 
    border-radius: 6%;
    float: left;
}

.form-group{
    padding-left: 250px;
    
}
.btn{
    margin-left: -37%;
}

.newsletter button{
    background-color: #5a67d8;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 34px;
    padding-right:34px; 
    border-radius: 5%;
}

footer{
    background-color: #4a5568;
    color:white;
    padding-top: 10px;
    padding-left: 80px;
    padding: 10px;
}
